@model SampleCalendar.Models.CustomCalendarViewModel
@using SampleCalendar.Extensions;
@{
    ViewBag.Title = "Custom Calendar";
}

<div id="left-col">
    <div class="box">
        <h4>Date Test</h4>
        <div class="box-container">
            <div id="test-date">
                @{Html.RenderAction("TestWorkingDay");}
            </div>
        </div>
    </div>
</div>

<div id="mid-right-col">

    <div class="box">
        <h4>Holiday List</h4>
        <div class="box-container">
            <h3>Add Holiday</h3>
            @using (Ajax.BeginForm("AddHoliday", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "holidayList" }, new { @class = "middle-forms" })) {
            @Html.ValidationSummary(true)
                <fieldset>
                    <ol>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.AddHoliday.Name, new { @class = "field-title" })
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.AddHoliday.Name)
                                @Html.ValidationMessageFor(model => model.AddHoliday.Name)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.AddHoliday.Day, new { @class = "field-title" })
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.AddHoliday.Day)
                                @Html.ValidationMessageFor(model => model.AddHoliday.Day)
                            </div>
                        </li>
                        <li>
                            <input type="submit" value="Add" />
                        </li>
                    </ol>
                </fieldset>
            }
        <p>&nbsp;</p>
        <div id="holidayList">
             @{Html.RenderPartial("HolidayList", Model.Holidays);}
        </div>

    </div>

</div>

