@model SampleCalendar.Models.TestWorkingDayViewModel
@using SampleCalendar.Extensions;
@using (Ajax.BeginForm("TestWorkingDay", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = "test-date" }, new { @class = "middle-forms" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TestWorkingDayViewModel</legend>

        <ol>
            <li>
                @Html.LabelFor(model => model.TestDate, new { @class = "field-title"} )
                @Html.EditorFor(model => model.TestDate)
                @Html.ValidationMessageFor(model => model.TestDate)
                <input type="submit" value="Test" />
            </li>
        
            <li>
                @Html.LabelFor(model => model.IsWorkingDay, new { @class = "field-title" })
                @Html.DisplayFor(model => model.IsWorkingDay)
            </li>

            <li>
                @Html.LabelFor(model => model.NextWorkingDay, new { @class = "field-title" })
                @Html.DisplayFor(model => model.NextWorkingDay)
            </li>

            <li>
                @Html.LabelFor(model => model.FifthWorkingDay, new { @class = "field-title" })
                @Html.DisplayFor(model => model.FifthWorkingDay)
            </li>
        </ol>

    </fieldset>
}
 <script type="text/javascript">
     $(document).ready(function () {
         $(".datepicker").datepicker({
             changeMonth: true,
             changeYear: true,
             dateFormat: 'dd-mm-yy',
             buttonImage: '/Content/images/icon-calendar.gif'
         });
     });
  </script>
